.btn {
    width: 150px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #2c8a58;
    border-radius: 10px;
    color: #2c8a58;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    margin:5px 3px;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    min-height: 50px;
}
.btn:hover, .btn:focus {
    color: rgba(10, 10, 4, 0.77);
    outline: 0;
}

.btnShadow {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btnShadow:hover {
    box-shadow: 0 0 40px 40px #2c8a58 inset;
}

.red{

    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.red:hover {
    border: 2px solid #e74c3c;
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.btn:disabled{
    opacity: 0.5;
    box-shadow: none;
    color: #e74c3c;
}